.login{
    display: grid;
    margin-top:-80px ;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
    padding-bottom:100px;
}
.login >img{
    
 object-fit: contain;
 height: 150px;
 border-radius: 10px;
 margin-top: 20px;
 margin-bottom: 20px;
}
.login>form{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.login>form>input{
    width:460px;
    height: 30px;
    font-size: 20px;
    padding-left:20px ;
    margin-bottom: 20px;
    border-radius: 10px;
}
.login>form>button{
    width:150px;
    height: 30px;
    font-size: 20px;
    padding-left:20px ;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightblue;
}
.register{
    cursor: pointer;
}
.form >h2{
    margin: 10px 0;
}